mastodon:
  # Enable Mastodon integration
  enabled: false

  # Base URL of the Mastodon instance
  api_url: 'https://example.com'

  # Client ID for the Mastodon application
  client_id: 'mockClientID'

  # Client Secret for the Mastodon application
  client_secret: 'mockClientSecret'

  # Access Token for the Mastodon application
  access_token: 'mockAccessToken'

  # Mastodon user name
  username: 'mockUsername'

bluesky:
  # Enable Bluesky integration
  enabled: false
  
  # Base URL of the Memos instance
  api_url: 'https://bsky.social'

  # Handle for the Bluesky account
  handle: 'blueskyHandle.bsky.social'

  # Password for the Bluesky account
  password: 'blueskyPassword'

memos:
  # Base URL of the Memos instance
  api_url: 'http://localhost:3001'

  # Access Token for the Memos application
  access_token: 'mockAccessToken'